# Dependencies
node_modules
.pnpm-store

# Build
dist
.turbo

# Env
.env
.env.local
.env.*.local

# Prisma
apps/backend/prisma/migrations

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage